<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="button-row">
        <a mat-flat-button color="primary" (click)="campaignList()"><mat-icon>info</mat-icon></a>
    </div>

    <mat-card class="example-card">
        <form [formGroup]="campaignForm" (ngSubmit)="onFormSubmit(campaignForm.value)">

            <!-- name -->
            Name:
            <mat-form-field class="example-full-width">
                <input matInput formControlName="name">
            </mat-form-field>

            <!-- keywords -->
            Keywords:
            <mat-form-field class="example-full-width">
                <input matInput formControlName="keywords" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- bid amount -->
            Bid amount:
            <mat-form-field class="example-full-width">
                <input matInput  formControlName="bidAmount" type="number">
            </mat-form-field>

            <!-- fund -->
            Fund:
            <mat-form-field class="example-full-width">
                <input matInput  formControlName="fund" type="number">
            </mat-form-field>

            <!-- status -->
            Status:
            <mat-form-field class="example-full-width">
                <mat-select matInput formControlName="status">
                    <mat-option value="On">On</mat-option>
                    <mat-option value="Off">Off</mat-option>                      
                </mat-select>
            </mat-form-field>   
                
            <!-- town -->
            Town:
            <mat-form-field class="example-full-width">
                <mat-select matInput formControlName="town"> 
                    <mat-option *ngFor="let town of towns" [value]="town">
                        {{town}}
                    </mat-option>
                </mat-select>
            </mat-form-field>   
                
            <!-- radius -->
            Radius
            <mat-form-field class="example-full-width">
                <input matInput  formControlName="radius" type="number">
            </mat-form-field>                  

            <div class="button-row">
            <button type="submit" [disabled]="!campaignForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
            
        </form>
    </mat-card>
</div>